#user-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.user-container{
    background-color: rgb(222, 252, 188);
    padding: 20px;
    display: flex;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    margin: 1rem;
    border-radius: 15px;
}